* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f1f1f1;
}

.topnav {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 10px;
  position: fixed;
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

.topnav a {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a.active {
  background-color: #f1f1f1;
  color: green;
  height:30px;
  font-size: 25px;
  font-weight: bold;
  float: left;
}

.topnav a.activity {
  background-color: #f1f1f1;
  color: green;
  height:30px;
  font-size: 24px;
  font-weight: bold;
  float: right;
}

.topnav a.activitylog {
  background-color: #f1f1f1;
  color: green;
  height:10px;
  font-size: 20px;
  font-weight: bold;
  float: right;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

.topnav .search-contained {
  float: left;
}

.topnav .search-contained button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-contained button:hover {
  background: #ccc;
}

.topnavi {
  background-color: #e9e9e9;
  width: 100%; /* Full width */
  padding: 20px;
}

/* Column container */
.row {
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.sidea {
  flex: 30%;
  background-color: #e9e9e9;
  padding: 20px;
}

/* Main column */
.main {
  flex: 40%;
  background-color: #e9e9e9;
  padding: 20px;
  text-align: center;
}

.sideb {
  flex: 30%;
  background-color: #e9e9e9;
  padding: 20px;
}


.fakelink {
  background-color: #fff;
  width: 100%;
  padding: 20px;
  color: green;
  height: 60px;
}

.fakelink a {
  color: green;
  text-decoration: none;
}

.fakep {
  color: green;
  text-decoration: none;
}

.fakea {
  color: #62594F;
  text-decoration: none;
}

.nodecor {
    text-decoration: none;
}


.fakeimgh4 a {
    text-align: center;
    text-decoration:none;
}

.moreplease {
    background-color: green;
    width: 80%;
    padding: 20px;
    height: 60px;
    opacity: 0.7;
    text-align: center;
}

.morepleased {
    background-color: green;
    width: 100%;
    padding: 20px;
    height: 60px;
    opacity: 0.7;
    text-align: center;
}

.moreplease a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
}

.morepleased a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
}

.blackc {
    color: #000000;
}

.commentdiv {
    background-color: #eff0f1;
    color: green;
}

.moreinline {
    display:inline-block;
    width: 25px;
}

.replymargin {
    margin-left:150px;
}

.commentpad {
    padding: 20px;
    color: green;
}

.colordate {
    color: #551a8b;
}

#userleft3 {
    background-color: #f1f1f1;
}

#userhistry {
    background-color: #f1f1f1;
}

#idpost {
    background-color: #f1f1f1;
}

#idcomment {
    background-color: #f1f1f1;
}

.pic {
    border-radius: 50%;
}

#userleft {
    background-color: #f1f1f1;
}

#userleft2 {
    background-color: #f1f1f1;
}

#commentrepa {
    text-decoration: none;
}

#commentrepb {
    text-decoration: none;
}

#typer {
    color: #4CAF50;
}

#logoo {
    color: green;
}
.qfont {
color: red;
}

.afont {
color: blue;
}

/* Add padding to containers */
.container {
  padding: 12px;
  background-color: white;
}

.container a {
  text-decoration: none;
}

/* Full-width input fields */
.container input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.container input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
/* Overwrite default styles of hr */
hr {
  border: 1px solid #4CAF50;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}

.holder {
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.left {
  flex: 20%;
  background-color: #e9e9e9;
  padding: 10px;
}

/* Main column */
.middle {
  flex: 60%;
  background-color: #e9e9e9;
  padding: 10px;
  text-align: center;
  height:800px;
  display: inline-block;
}

.right {
  flex: 20%;
  background-color: #e9e9e9;
  padding: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.homefeed a {
  text-decoration:none;
  color: green;
}

.footer {
  padding: 10px;
  width: 100%;
  background-color: #f1f1f1;
  color: black;
  text-align: center;
  display: inline-block;
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
*/

@media (min-width: 320px) and (max-width: 480px) {
    .topnav .active img {
        height: 80px;
        width: 70%;
        margin-left:;

    }
    .topnav {
      overflow: hidden;
      padding: 10px;
      position: inherit;
      width: 100%; /* Full width */
    }
    .topnav a#texting {
        margin-top: 70px;
        width: 100%;
        text-align: center;
        color: #344EA2;
    }
    .topnav a.activitylog {
        width: 300px;
        margin-top: 280px;
        color: #B22E17;
        position: absolute;
        top: 0;
        margin-left: 20px;
    }
    .topnav input[type=text] {
      padding: 6px;
      margin-top: 18px;
      margin-left: 55px;
      font-size: 17px;
    }
    .topnav .search-container button {
      margin-right: 206px;
      margin-top: 15px;
    }

    .row .sidea {
        width: 100%;
        margin-top: -50px;
        background-color: #f1f1f1;
    }
    .row .main {
        display: inline-block;
        width: 100%;
        margin-top: -70px;
    }
    .row .sideb {
        width: 100%;
    }
    .row {
      display: block;
    }

}
